MQTT_BROKER="localhost"  # IP MQTT Broker
MQTT_PORT=1883

TOPIC_TELEMETRY=""
TOPIC_STATUS=""
TOPIC_CONTROL_PREFIX=""

# STATE_FILE="state.json"

LOCAL_API_URL=""
LOCAL_WS_URL=""
PROD_API_URL=""
PROD_WS_URL=""